<div class="max-w-7xl mx-auto px-4 py-8">
  <div class="flex flex-col lg:flex-row lg:space-x-8">
    {{! Player Details Card (Full width, half height on large screens) }}
    <div class="flex-grow bg-white rounded-lg shadow-md p-4">
      {{! Player Photo }}
      <div class="mb-4">
        <img
          src="{{@model.player.photoUrl}}"
          alt="{{@model.player.fullName}}"
          class="h-64 w-full object-cover rounded-t-lg"
          loading="lazy"
        />
      </div>

      {{! Player Details }}
      <div class="flex flex-col items-center">
        <h2
          class="text-xl font-semibold text-gray-900"
        >{{@model.player.fullName}}</h2>
        <p class="text-sm text-gray-600 mb-2">{{@model.player.position}}</p>

        <ClubInformationInfo @model={{@model}} />
      </div>
    </div>

    <AppearancesTable @model={{@model}} />

  </div>

  {{! Market Value Evolution (1/3 width on large screens) }}
  <div class="lg:w-1/3 mt-8">
    <div class="bg-white rounded-lg shadow-md p-6">
      <h3 class="text-xl font-semibold text-gray-900 mb-4">Market Value
        Evolution</h3>
      {{! Placeholder for line graph or chart }}
      <div class="h-48 bg-gray-200 rounded-lg">
        <PlayerMarketValueChart />
      </div>
    </div>
  </div>
</div>